<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>Submissions</title>
      <link rel="stylesheet" href="/static/reset.css">
      <script type="text/javascript" src="/static/get_subs.js"></script>
  </head>

  <body>
      <p> Select the city and tags you want to see </p>

      <select id='cities'>
          <option value="all">All</option>
          {% for city in cities %}
          <option value={{ city }}>{{ city|title }}</option>
          {% endfor %}
      </select>

      <select id='tags'>
          <option value="all">All</option>
          {% for tag in tags %}
          <option value={{ tag }}>{{ tag|title }}</option>
          {% endfor %}
      </select>

      <div class="button" id="submit"> Show </div>
      <div id='list'> Select the Cities you want to see and any tags you want to restrict the seach to and then click 'Show' </div>
  </body>
</html>
